flask~=2.2.3
flask-smorest
python-dotenv~=1.0.0
marshmallow~=3.19.0
sqlalchemy==2.0.6
flask-sqlalchemy
psycopg2-binary
pytest
flask-jwt-extended
passlib~=1.7.4
flask_wtf
flask-migrate
flask-security
flask-oauthlib
gunicorn
rq
jinja2
requests~=2.28.2
alembic~=1.10.2
redis
Flask-Limiter
werkzeug
